.lottie-background {
  position: absolute;
  top: 50%; /* Vertically center the Lottie animation */
  left: 50%; /* Horizontally center the Lottie animation */
  transform: translate(-50%, -50%); /* Adjust the position by 50% of its own width and height */
  width: 50%; /* Adjust width as needed */
  height: auto;
  pointer-events: none; /* Make sure it doesn't block interactions */
  z-index: -1; /* Ensure it stays behind other elements */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Typewriter effect */
  .typewriter {
    font-family: "Courier New", monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #fff; /* Blinking cursor effect */
    display: inline-block;
    font-size: 1.2rem;
    animation: blinkCursor 0.8s step-end infinite;
  }
  
  /* Remove cursor after typing is done */
  .typewriter.done {
    border-right: none;
  }
  
  /* Blinking cursor animation */
  @keyframes blinkCursor {
    50% {
      border-color: transparent;
    }
  }
  